<section class="section section-call-to-action v1">
	<div class="container overlay-content">
		<div class="row">
			<div class="col-xs-10 offset-xs-1">
				<h2 class="h1">{{=T('Need help?')}}</h2>
				<p>{{=T('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sem nisi, ornare at tellus sed, dictum venenatis libero. Proin iaculis viverra neque. Donec orci dui, aliquet non lacinia vitae, eleifend eu augue.')}}</p>
				<a class="btn btn-outline-primary" href="contact.html" role="button">{{=T('Get in touch')}}</a>
			</div>
		</div>
	</div>
</section>