{{extend 'layout_provenic.html'}}

{{block head}}
{{end}}

{{block header}}
<header class="masthead v1 overlay">
	<div class="container">
		<h1>{{=T('About our company')}}</h1>
	</div>
</header>
{{end}}

<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="m-b-3">
					<h1>{{=T('Who are we?')}}</h1>
					<p>{{=T('Pellentesque scelerisque tempus orci, sit amet maximus lacus congue ac. Aliquam placerat at est eu aliquam. Integer scelerisque sagittis elit ac elementum. Ut a porta enim, non interdum diam. Nam quam est, consequat a dapibus eu, euismod ut leo. Phasellus auctor ornare nulla eget egestas. Fusce vel tellus odio. Ut a libero ipsum. Donec porttitor ultrices ex, eget faucibus magna elementum a. Ut suscipit nunc nulla, vel pharetra dui volutpat ac.')}}</p>
					<p>{{=T('Pellentesque scelerisque tempus orci, sit amet maximus lacus congue ac. Aliquam placerat at est eu aliquam. Integer scelerisque sagittis elit ac elementum. Ut a porta enim, non interdum diam. Nam quam est, consequat a dapibus eu, euismod ut leo. Phasellus auctor ornare nulla eget egestas.')}}</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="m-b-3">
					<h2 class="h3">{{=T('Finibus bonorum et malorum')}}</h2>
					<p>{{=T('Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.')}}</p>
				</div>
				<div class="postscript">
					<img class="img-circle" src="{{=URL('static','images/person-1.jpg')}}" alt="{{=T('Author')}}" />
					<span class="fa fa-fw fa-quote-left"></span>
					<blockquote class="blockquote">
						<p>{{=T('Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')}}</p>
						<footer class="blockquote-footer">{{=response.contact.name}} / {{=response.contact.title}}</footer>
					</blockquote>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="ratio-16-9">
					<img class="cover" src="{{=URL('static','images/img-2.jpg')}}" alt="{{=T('')}}" />
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section section-video">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				{{include 'default/video.html'}}
			</div>
			<div class="col-lg-5">
				<h2 class="h3">{{=T('Finibus bonorum et malorum')}}</h2>
				<p>{{=T('Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.')}}</p>
				<p>{{=T('Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')}}</p>
			</div>
		</div>
	</div>
</section>

{{include 'default/calltoaction_1.html'}}

{{block page_js}}
{{end}}