{{extend 'layout_provenic.html'}}

{{block header}}
<header class="masthead v3 overlay">
	<div class="container">
		<h1>{{=T('Get in touch')}}</h1>
	</div>
</header>
{{end}}

<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="contact-text">
					<h1>{{=T('Contact us')}}</h1>
					<p>{{=T('Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')}}</p>
					<p>{{=T('Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')}}</p>
				</div>
				<div class="contact-form">
					<h2 class="h4">{{=T('Please fill out this form and we will get contact you shortly')}}</h3>
					<form class="form-default" role="form">
						<div class="form-group">
							<label class="sr-only" for="form-name">{{=T('Full Name')}}</label>
							<input type="text" class="form-control" id="form-name" placeholder="{{=T('Name')}} *">
						</div>
						<div class="form-group">
							<label class="sr-only" for="form-email">{{=T('Email')}}</label>
							<input type="email" class="form-control" id="form-email" placeholder="{{=T('Email')}} *">
						</div>
						<div class="form-group">
							<label class="sr-only" for="form-tel">{{=T('Phone number')}}</label>
							<input type="tel" class="form-control" id="form-tel" placeholder="{{=T('Phone number')}}">
						</div>
						<div class="form-group">
							<label class="sr-only" for="form-message">{{=T('Your Message')}}</label>
							<textarea class="form-control" id="form-message" placeholder="{{=T('Your message')}}"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-primary btn-block" role="button" value="{{=T('Send us')}}">
						</div>
					</form>
				</div>
			</div>
			<div class="col-lg-4">
				<aside class="contact-details">
					<div class="overlay"></div>
					<div class="overlay-content">
						<address>
							<p>
								{{=response.contact.name}}<br>
								{{=response.contact.email}}<br>
								{{=response.contact.phone_number}}
							</p>
							<p>
								{{=response.company.name}}<br>
								{{=response.company.street_name}}<br>
								{{=response.company.postal_code}} {{=response.company.city}}<br>
								{{=response.company.country}}
							</p>
							<p>
								{{=response.company.vat_number}}
							</p>
						</address>
					</div>		
				</aside>
			</div>
		</div>
	</div>