{{extend 'layout_provenic.html'}}
{{title = "Title"}}

{{if is_carousel:}}
<!-- Carousel -->
<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="{{=carousel_data_interval}}">
	<div class="carousel-body">
		{{if is_carousel_bg:}}
		<div class="carousel-frame"></div>
		{{pass}}

		{{if is_carousel_indicators:}}
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel" data-slide-to="0" class="active"></li>
			<li data-target="#carousel" data-slide-to="1"></li>
			<li data-target="#carousel" data-slide-to="2"></li>
		</ol>
		{{pass}}

		{{if is_carousel_controls:}}
		<!-- Left and right controls -->
		<a class="left carousel-control hidden-sm-down" href="#carousel" role="button" data-slide="prev">
			<span class="icon-prev" aria-hidden="true"></span>
			<span class="sr-only">{{=T('Previous')}}</span>
		</a>
		<a class="right carousel-control hidden-sm-down" href="#carousel" role="button" data-slide="next">
			<span class="icon-next" aria-hidden="true"></span>
			<span class="sr-only">{{=T('Next')}}</span>
		</a>
		{{pass}}
	</div>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="carousel-item active">
			<!--
			<div class="carousel-img">
				<img class="cover" src="{{=URL('static','images/carousel-bg2.jpg')}}" alt="{{=title}}" />
			</div>-->
			<div class="carousel-caption">
				<div class="container">
					<h1>{{=T('Quisque porttitor id viverra.')}}</h1>
					<p>{{=T('In tincidunt pharetra purus sed dignissim. Aliquam fringilla odio id lectus pellentesque porttitor. Praesent congue velit lectus, quis dictum neque aliquet in. Aliquam facilisis massa non sem tempus vestibulum.')}}</p>
					<a class="btn btn-primary smooth-scroll" href="#who-are-we" role="button">{{=T('Learn more')}}</a>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<!--
			<div class="carousel-img">
				<img class="cover" src="{{=URL('static','images/carousel-bg2.jpg')}}" alt="{{=title}}" />
			</div>-->
			<div class="carousel-caption">
				<div class="container">
					<h1>{{=T('Quisque porttitor id viverra.')}}</h1>
					<p>{{=T('In tincidunt pharetra purus sed dignissim. Aliquam fringilla odio id lectus pellentesque porttitor. Praesent congue velit lectus, quis dictum neque aliquet in. Aliquam facilisis massa non sem tempus vestibulum.')}}</p>
					<a class="btn btn-primary smooth-scroll" href="#who-are-we" role="button">{{=T('Learn more')}}</a>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<!--
			<div class="carousel-img">
				<img class="cover" src="{{=URL('static','images/carousel-bg2.jpg')}}" alt="{{=title}}" />
			</div>-->
			<div class="carousel-caption">
				<div class="container">
					<h1>{{=T('Quisque porttitor id viverra.')}}</h1>
					<p>{{=T('In tincidunt pharetra purus sed dignissim. Aliquam fringilla odio id lectus pellentesque porttitor. Praesent congue velit lectus, quis dictum neque aliquet in. Aliquam facilisis massa non sem tempus vestibulum.')}}</p>
					<a class="btn btn-primary smooth-scroll" href="#who-are-we" role="button">{{=T('Learn more')}}</a>
				</div>
			</div>
		</div>
	</div>
</div>
{{pass}}

<section id="who-are-we" class="section text-xs-center">
	<div class="container">
		<h1 class="page-header">{{=T('Who are we?')}}</h1>
		<div class="row">
			<div class="col-xs-10 offset-xs-1">
				<p>{{=XML(T('Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing elit</a>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.'))}}</p>
				<a class="btn btn-primary" href="company" role="button">{{=T('Read more')}}</a>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<h1 class="page-header">{{=T('Our projects')}}</h1>
		<div class="card card-horizontal-md-up">
			<div class="card-img card-img-last">
				<img src="{{=URL('static','images/img-3.png')}}" alt="" />
			</div>
  		<div class="card-block">
	  		<div class="card-content">
	  			<h4 class="card-title">{{=T('Curabitur gravida vestibulum imperdiet.')}}</h4>
				  <p class="card-text">{{=T('Cras convallis ut turpis vitae facilisis. Morbi eu augue vel quam efficitur rhoncus vitae eget lectus. Cras augue ligula, aliquam ut enim ut, feugiat imperdiet sem. Integer sed mi quis nisl eleifend interdum.')}}</p>
				  <p class="card-text">{{=T('Cras convallis ut turpis vitae facilisis. Morbi eu augue vel quam efficitur rhoncus vitae eget lectus. Cras augue ligula, aliquam ut enim ut, feugiat imperdiet sem.')}}</p>
				  <a class="btn btn-primary" href="projects.html" role="button">{{=T('Read more')}}</a>
				</div>
			</div>
		</div>
	</div>
</section>

{{include 'default/calltoaction_1.html'}}

{{block page_js}}
{{end page_js}}
