<script type='application/ld+json'> 
{
  "@context": "http://www.schema.org",
  "@type": "WebSite",
  "name": "{{=response.company.name}}",
  "url": "{{=response.company.url}}"
}
</script>

<script type='application/ld+json'> 
{
  "@context": "http://www.schema.org",
  "@type": "Organization",
  "name": "{{=response.company.name}}",
  "url": "{{=response.company.url}}",
  "sameAs": [
    "https://www.facebook.com/m5seppal"
  ],
  "logo": "{{=response.company.logo}}",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "{{=response.company.street_name}}",
    "addressLocality": "{{=response.company.city}}",
    "postalCode": "{{=response.company.postal_code}}",
    "addressCountry": "{{=response.company.country}}"
  },
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "{{=response.company.phone_number}}"
  }
}
</script>

<script type='application/ld+json'> 
{
  "@context": "http://www.schema.org",
  "@type": "person",
  "name": "{{=response.contact.name}}",
  "jobTitle": "{{=response.contact.title}}",
  "email": "{{=response.contact.email}}",
  "telephone": "{{=response.contact.phone_number}}"
}
</script>