{{extend 'layout_provenic.html'}}

{{block header}}
<header class="masthead v2 overlay">
	<div class="container">
		<h1>{{=T('Our projects')}}</h1>
	</div>
</header>
{{end}}

<section class="section section-projects">
	<div class="container">
		{{for project in projects:}}
    <div class="card card-horizontal-md-up">
 			<div class="card-img">
 				<img src="{{=URL('default', 'download', args=project.image)}}" alt="" />
 			</div>
      <div class="card-block">
	      <div class="card-content">
					<h2 class="card-title h4">{{=project.title}}</h2>
					<p class="card-text">{{=project.description}}</p>
				  <a class="btn btn-primary" href="{{=project.url}}" role="button" target="_blank">{{=T('Read more')}}</a>
	      </div>
      </div>
    </div>
    {{pass}}
  </div>
</section>

{{include 'default/calltoaction_1.html'}}