<video class="video video-js vjs-default-skin vjs-16-9" preload="metadata" data-setup="{}" controls>
	<source src="{{=URL('static','videos/video-2.mp4')}}" type="video/mp4" />
	<source src="{{=URL('static','videos/video-2.webm')}}" type="video/webm" />
	<p class="vjs-no-js">
		To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>.
	</p>
</video>
