<!doctype html>
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="{{=T.accepted_language or 'en'}}">
<!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}" />

    <title>{{=response.title or request.application.capitalize()}}</title>

    <!-- Determines whether or not telephone numbers in the HTML content will appear as hypertext links -->
    <meta name="format-detection" content="telephone=no" />
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="robots" content="noodp, noydir" />
    <meta name="application-name" content="{{=request.application.capitalize()}}" />
    <meta name="author" content="{{=response.meta.author}}" />
    <meta name="keywords" content="{{=response.meta.keywords}}" />
    <meta name="description" content="{{=response.meta.description}}" />
    <!-- http://ogp.me/ , https://developers.facebook.com/docs/sharing/opengraph-->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{=request.application.capitalize()}}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="{{=response.title or request.application}}" />
    <meta property="og:description" content="{{=response.meta.description}}" />
    <meta property="og:url" content="{{=response.canonical}}" />
    <!-- Speaking of Google, don't forget to set your site up: http://google.com/webmasters -->
    <meta name="google-site-verification" content="{{=response.google_site_verification}}" />
    {{if response.canonical:}}
    <link rel="canonical" href="{{=response.canonical}}">
    {{pass}}

    {{include 'default/json-ld.html'}}

    <!-- Include stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{=URL('static','css/bootstrap.min.css')}}" />

    {{if is_video:}}
    <!-- Video.js -->
    <link rel="stylesheet" type="text/css" href="http://vjs.zencdn.net/5.10.8/video-js.css" />
    {{pass}}

    <link rel="stylesheet" type="text/css" href="{{=URL('static','css/screen.css')}}" media="screen" />
    <!--[if IE]>
      <link rel="stylesheet" type="text/css" href="{{=URL('static','css/ie.css')}}" media="screen" />
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{=URL('static','css/print.css')}}" media="print" />

    <!-- Include custom fonts -->
    <link rel="stylesheet" type="text/css" href="{{=URL('static','fonts/font-awesome.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" />

    <!-- Icons -->
    <link rel="icon" type="image/x-icon" href="{{=URL('static','images/favicon.ico')}}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{=URL('static','images/apple-touch-icon-76x76.png')}}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{=URL('static','images/apple-touch-icon-120x120.png')}}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{=URL('static','images/apple-touch-icon-152x152.png')}}" />
    
    {{block head}}
    {{end}}
  </head>

  <body>
    <!-- Navbar ======================================= -->
    <nav class="navbar navbar-light navbar-fixed-top">
      <div class="container">
        <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false">
          <span class="fa fa-fw fa-bars"></span>
          <span class="sr-only">{{=T('Toggle navigation')}}</span>
        </button>
        {{
        title_1 = T('Home')
        title_2 = T('Company')
        title_3 = T('Projects')
        title_4 = T('Contact')
        title_5 = T('Suomeksi')
        }}
        <div class="collapse navbar-toggleable-sm" id="navbar">
          <a class="navbar-brand" href="index">
            <img src="{{=response.company.logo}}" alt="{{=response.company.name}}" />
          </a>
          <ul class="nav navbar-nav pull-md-right">
            <li class="nav-item active">
              <a class="nav-link" href="{{=URL('index')}}" title="{{=title_1}}">
                {{=title_1}}
                <span class="sr-only">{{=T('(current)')}}</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{=URL('company')}}" title="{{=title_2}}">{{=title_2}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{=URL('projects')}}" title="{{=title_3}}">{{=title_3}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{=URL('contact')}}" title="{{=title_4}}">{{=title_4}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="fi/index" title="{{=title_5}}">{{=title_5}}</a>
              <!--<a class="nav-link" href="{{=URL(r=request, vars=dict(_language='fi'))}}" title="{{=title_5}}">{{=title_5}}</a>-->
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {{block header}}
    {{end}}

    <!-- Content ============================================ -->
    <main class="main">
      {{block content}}
        {{include}}
      {{end}}
    </main>

    <!-- Footer ========================================== -->
    <footer class="footer">
      {{block footer}}
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
              <img class="logo" src="{{=response.company.logo}}" alt="{{=response.company.name}}" />
              <div>
                <p>
                  <span>{{=response.company.name}} &#169; {{=request.now.year}}</span>
                  <span class="hidden-xs-down"> - </span>
                  <span>{{=T('All rights reserved')}}</span>
                  <span class="hidden-xs-down"> - </span>
                  <span>{{=response.company.email}}</span>
                </p>
              </div>
          </div>
        </div>
      </div>
      {{end}}
    </footer>

    <a class="btn btn-primary scroll-top hidden-sm-down" href="#" role="button">
      <span class="fa fa-fw fa-angle-up"></span>
      <span class="sr-only">{{=T('Back to top')}}</span>
    </a>

    {{
    if DEBUG:
      =response.toolbar()
    pass
    }}

    <!-- Include JavaScript ======================================= -->
    <script src="{{=URL('static','js/jquery-3.1.0.min.js')}}"></script>
    <script src="{{=URL('static','js/tether.min.js')}}"></script>
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>

    {{if is_video:}}
    <!-- IE8 support -->
    <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
    {{pass}}

    {{if is_object_fit:}}
    <script src="{{=URL('static','js/ofi.browser.js')}}"></script>
    {{pass}}

    <script>
      $.noConflict();
      /* prevent any jQuery code from running before the document is finished loading */
      jQuery(document).ready(function() {
        $(".btn").mouseup(function(){
          $(this).blur();
        })

        {{if is_object_fit:}}
        objectFitImages();
        {{pass}}

        $scroll_top = $('.scroll-top');

        var scroll_top_offset = 200;
        var scroll_top_duration = "slow";

        $(window).scroll(function() {    
          if ($(this).scrollTop() > scroll_top_offset) {
            $scroll_top.fadeIn();
          } else {
            $scroll_top.fadeOut();
          }
        });

        $scroll_top.on('click', function() {
          $("html, body").animate({
            scrollTop: 0
          }, scroll_top_duration);
          return false;
        });

        $(".smooth-scroll").on('click', function (e) {
          e.preventDefault();

          var target = this.hash;
          var $target = $(target);

          $('html, body').stop().animate({
            'scrollTop': $target.offset().top
          }, 500, 'swing');
        });

        /* Pause carousel on mouse hover */
        $('.carousel').hover(
            function() {
                $(this).carousel('pause');
            },
            function() {
                $(this).carousel('cycle');
            }
        );

        $('.carousel').carousel({
          interval: 2000
        })

        $(".btn").mouseup(function(){
            $(this).blur();
        })
      });
    </script>
    
    {{if is_video:}}
    <!-- Video.js ==================================== -->
    <script src="http://vjs.zencdn.net/5.10.8/video.js"></script>
    {{pass}}

    {{block page_js}}
    {{end page_js}}
    
    <!-- Analytics ==================================== -->
    {{if response.google_analytics_id:}}
      <script src="{{=URL('static','js/analytics.min.js')}}"></script>
      <script type="text/javascript">
        analytics.initialize({
          'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'}
        });
      </script>
    {{pass}}
  </body>
</html>
