/*
  This mixin can be used to set the object-fit:
  @include object-fit(contain);
  or object-fit and object-position:
  @include object-fit(cover, top);
*/
/* line 1, ../scss/utilities/_object-fit.scss */
.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover";
}

/* line 1, ../scss/utilities/_aspect-ratio.scss */
.ratio-1, .ratio-1-1 {
  position: relative;
}
/* line 4, ../scss/mixins/_aspect-ratio.scss */
.ratio-1::before, .ratio-1-1::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

/* line 5, ../scss/utilities/_aspect-ratio.scss */
.ratio-2, .ratio-4-3 {
  position: relative;
  /* 4:3 */
}
/* line 4, ../scss/mixins/_aspect-ratio.scss */
.ratio-2::before, .ratio-4-3::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}

/* line 9, ../scss/utilities/_aspect-ratio.scss */
.ratio-3, .ratio-3-2 {
  position: relative;
  /* 3:2 */
}
/* line 4, ../scss/mixins/_aspect-ratio.scss */
.ratio-3::before, .ratio-3-2::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 66.66667%;
}

/* line 13, ../scss/utilities/_aspect-ratio.scss */
.ratio-4 {
  position: relative;
  /* The golden ratio */
}
/* line 4, ../scss/mixins/_aspect-ratio.scss */
.ratio-4::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 61.8047%;
}

/* line 17, ../scss/utilities/_aspect-ratio.scss */
.ratio-5, .ratio-16-9 {
  position: relative;
  /* 16:9 */
}
/* line 4, ../scss/mixins/_aspect-ratio.scss */
.ratio-5::before, .ratio-16-9::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}

/* line 21, ../scss/utilities/_aspect-ratio.scss */
.ratio-6 {
  position: relative;
  /* The silver ratio */
}
/* line 4, ../scss/mixins/_aspect-ratio.scss */
.ratio-6::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 41.42502%;
}

/* line 25, ../scss/utilities/_aspect-ratio.scss */
.ratio-7 {
  position: relative;
  /* Ultra Panavision 70 */
}
/* line 4, ../scss/mixins/_aspect-ratio.scss */
.ratio-7::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 36.23188%;
}

/* line 5, ../scss/utilities/_display.scss */
.d-flex {
  display: flex !important;
}

/* line 3, ../scss/partials/_reset.scss */
address {
  margin-bottom: 0;
}

/* line 19, ../scss/partials/_typography.scss */
html {
  color: #333333;
  font-size: 0.75rem;
}
@media only screen and (min-width: 544px) {
  /* line 19, ../scss/partials/_typography.scss */
  html {
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 768px) {
  /* line 19, ../scss/partials/_typography.scss */
  html {
    font-size: 1rem;
  }
}

/* line 32, ../scss/partials/_typography.scss */
p:last-child {
  margin-bottom: 0;
}

/* line 36, ../scss/partials/_typography.scss */
.blockquote {
  color: #999999;
  font-size: inherit;
  font-style: italic;
  font-weight: 400;
  max-width: 22rem;
  border-left: none;
  margin-bottom: 0;
  padding: 0 0.5rem;
  margin-right: 1rem;
}
/* line 47, ../scss/partials/_typography.scss */
.blockquote p::after {
  display: inline-block;
  font-family: FontAwesome;
  content: "\f10e";
  color: #ebebeb;
  width: 1.5rem;
  margin-right: -1.5rem;
  text-align: right;
}

/* line 58, ../scss/partials/_typography.scss */
.blockquote-footer {
  color: #333333;
  font-size: inherit;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 65, ../scss/partials/_typography.scss */
.blockquote-footer::before {
  content: none;
}

/* HEADERS */
/* line 2, ../scss/partials/_headers.scss */
.masthead {
  position: relative;
  text-align: center;
  padding: 4rem 0;
  margin-bottom: 0;
  border-radius: 0;
}
/* line 9, ../scss/partials/_headers.scss */
.masthead.v1 {
  background: url(../images/jumbo-bg1.jpg) center no-repeat;
  background-size: cover;
}
/* line 14, ../scss/partials/_headers.scss */
.masthead.v2 {
  background: url(../images/jumbo-bg2.jpg) center no-repeat;
  background-size: cover;
}
/* line 19, ../scss/partials/_headers.scss */
.masthead.v3 {
  background: url(../images/jumbo-bg3.jpg) center no-repeat;
  background-size: cover;
}

/* line 25, ../scss/partials/_headers.scss */
.masthead h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

/* line 30, ../scss/partials/_headers.scss */
.page-header {
  position: relative;
  text-align: center;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
}
/* line 36, ../scss/partials/_headers.scss */
.page-header::before {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  width: 10px;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  background: #cccccc;
  content: '';
  transform: rotate(45deg);
}
/* line 50, ../scss/partials/_headers.scss */
.page-header::after {
  position: absolute;
  width: 90%;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: #cccccc;
  content: '';
}
@media only screen and (min-width: 544px) {
  /* line 50, ../scss/partials/_headers.scss */
  .page-header::after {
    width: 80%;
  }
}
@media only screen and (min-width: 768px) {
  /* line 50, ../scss/partials/_headers.scss */
  .page-header::after {
    width: 60%;
  }
}

/* line 5, ../scss/partials/_buttons.scss */
.btn {
  border-width: 2px;
}

/* SCROLL TO TOP */
/* line 10, ../scss/partials/_buttons.scss */
.scroll-top {
  position: fixed;
  z-index: 990;
  right: 1.5rem;
  bottom: 1.5rem;
  width: calc(3rem + 4px);
  height: calc(3rem + 4px);
  font-size: 2rem;
  padding: 0;
  display: flex;
  background: rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 50%;
}

/* line 25, ../scss/partials/_buttons.scss */
.scroll-top .fa {
  padding-bottom: 0.25rem;
  margin: auto;
}

/* FORM */
/* line 3, ../scss/partials/_forms.scss */
.form-default textarea {
  min-height: 200px;
  max-height: 450px;
}

/* line 8, ../scss/partials/_forms.scss */
.form-default .form-group:last-of-type {
  margin-bottom: 0;
}

/* line 6, ../scss/mixins/_overlay.scss */
.overlay::before {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 19, ../scss/mixins/_overlay.scss */
.overlay-pattern::after {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: url(../images/pattern-1.png) repeat;
}

/* line 9, ../scss/partials/_overlay.scss */
.overlay-content, .overlay > .container {
  position: relative;
  z-index: 12;
  color: #fff;
}

/* line 22, ../scss/partials/_navbar.scss */
.navbar {
  height: 51px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 28, ../scss/partials/_navbar.scss */
.navbar-fixed-top {
  border-width: 0 0 1px;
  border-color: #cccccc;
}

/* line 33, ../scss/partials/_navbar.scss */
.navbar-light {
  background-color: white;
}

/* line 37, ../scss/partials/_navbar.scss */
.navbar-dark {
  background-color: white;
}

/* line 41, ../scss/partials/_navbar.scss */
.navbar-brand img {
  height: 40px;
}

/* line 49, ../scss/partials/_navbar.scss */
.navbar-nav {
  height: 100%;
  align-self: flex-end;
}
/* line 53, ../scss/partials/_navbar.scss */
.navbar-nav .nav-item {
  float: left;
}
/* line 57, ../scss/partials/_navbar.scss */
.navbar-nav .nav-link {
  display: block;
  text-transform: uppercase;
  font-size: 0.875rem;
}
/* line 62, ../scss/partials/_navbar.scss */
.navbar-nav .nav-link + .nav-link {
  margin-left: 1rem;
}
/* line 67, ../scss/partials/_navbar.scss */
.navbar-nav .nav-item + .nav-item {
  margin-left: 1rem;
}

/* line 74, ../scss/partials/_navbar.scss */
.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.8);
}
/* line 80, ../scss/partials/_navbar.scss */
.navbar-light .navbar-nav .nav-link {
  color: #333333;
}
/* line 92, ../scss/partials/_navbar.scss */
.navbar-light .navbar-divider {
  background-color: rgba(0, 0, 0, 0.075);
}

/* line 99, ../scss/partials/_navbar.scss */
.navbar-dark .navbar-brand {
  color: white;
}
/* line 105, ../scss/partials/_navbar.scss */
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}
/* line 117, ../scss/partials/_navbar.scss */
.navbar-dark .navbar-divider {
  background-color: rgba(255, 255, 255, 0.075);
}

/* CAROUSEL */
/* line 44, ../scss/partials/_carousel.scss */
.carousel-body {
  position: relative;
}
/* line 4, ../scss/mixins/_aspect-ratio.scss */
.carousel-body::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
@media only screen and (min-width: 1200px) {
  /* line 44, ../scss/partials/_carousel.scss */
  .carousel-body {
    position: relative;
  }
  /* line 4, ../scss/mixins/_aspect-ratio.scss */
  .carousel-body::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 42.55319%;
  }
}

/* line 56, ../scss/partials/_carousel.scss */
.carousel-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/carousel-bg2.jpg) center no-repeat;
  background-size: cover;
}
/* line 6, ../scss/mixins/_overlay.scss */
.carousel-frame::before {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
}

/* line 67, ../scss/partials/_carousel.scss */
.carousel-inner {
  position: relative;
  z-index: 12;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
}

/* line 77, ../scss/partials/_carousel.scss */
.carousel-inner > .carousel-item {
  width: 100%;
  height: 100%;
}

/* line 83, ../scss/partials/_carousel.scss */
.carousel-control {
  position: absolute;
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: auto;
  width: 15%;
  height: 100%;
  color: white;
  opacity: 0.5;
  text-shadow: none;
}
/* line 96, ../scss/partials/_carousel.scss */
.carousel-control:focus, .carousel-control:hover {
  color: white;
  opacity: 1;
  text-decoration: none;
  outline: none;
}
/* line 105, ../scss/partials/_carousel.scss */
.carousel-control.left {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#00000000', GradientType=1);
}
/* line 108, ../scss/partials/_carousel.scss */
.carousel-control.right {
  flex-direction: row-reverse;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.2) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#33000000', GradientType=1);
}
/* line 114, ../scss/partials/_carousel.scss */
.carousel-control .icon-prev, .carousel-control .icon-next {
  position: static;
  width: 3rem;
  height: 3rem;
  font-family: FontAwesome;
  font-size: 3rem;
  line-height: 3rem;
  margin: 0;
}
/* line 125, ../scss/partials/_carousel.scss */
.carousel-control .icon-prev::before {
  content: "\f104";
}
/* line 130, ../scss/partials/_carousel.scss */
.carousel-control .icon-next::before {
  content: "\f105";
}

/* line 141, ../scss/partials/_carousel.scss */
.carousel-indicators {
  position: absolute;
  z-index: 15;
  bottom: 1.5rem;
  left: 0;
  width: 100%;
  margin: 0;
}
/* line 149, ../scss/partials/_carousel.scss */
.carousel-indicators li {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  margin: 0rem;
  border: 1px solid white;
  border-radius: 50%;
  background-color: transparent;
  opacity: 0.5;
}
/* line 159, ../scss/partials/_carousel.scss */
.carousel-indicators li:hover, .carousel-indicators li.active {
  width: 0.75rem;
  height: 0.75rem;
  margin: 0;
  background-color: white;
  opacity: 1;
}

/* line 182, ../scss/partials/_carousel.scss */
.carousel-caption {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 3rem 0;
  color: white;
  background-color: #333333;
  text-align: center;
  text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
}
/* line 193, ../scss/partials/_carousel.scss */
.carousel-caption::before {
  content: '';
  position: absolute;
  top: -13px;
  left: 50%;
  margin-left: -14px;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid #333333;
}

/* line 209, ../scss/partials/_carousel.scss */
.carousel-progress-bar {
  position: absolute;
  bottom: 0;
  z-index: 20;
  width: 0%;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.125);
}
/* line 217, ../scss/partials/_carousel.scss */
.carousel-progress-bar.animate {
  transition: width 4.25s linear;
}

@media only screen and (min-width: 768px) {
  /* line 224, ../scss/partials/_carousel.scss */
  .carousel-inner {
    position: absolute;
  }

  /* line 228, ../scss/partials/_carousel.scss */
  .carousel-caption {
    position: absolute;
    right: auto;
    bottom: 50%;
    left: 15%;
    transform: translate(0, 50%);
    width: 70%;
    max-width: 720px;
    background-color: transparent;
    text-align: left;
  }
  /* line 239, ../scss/partials/_carousel.scss */
  .carousel-caption::before {
    border: none;
  }
}
/* JUMBOTRONS */
/* line 4, ../scss/partials/_body.scss */
body {
  min-width: 320px;
  margin-top: 51px;
}

/* line 9, ../scss/partials/_body.scss */
.wrapper {
  max-width: 540px;
  margin: auto;
}

/* SECTIONS */
/* line 15, ../scss/partials/_body.scss */
.section {
  background: white;
  padding: 4rem 0;
}
/* line 19, ../scss/partials/_body.scss */
.section:nth-of-type(even) {
  background: #ebebeb;
}

/* CALL TO ACTION */
/* line 25, ../scss/partials/_body.scss */
.section-call-to-action {
  position: relative;
}
/* line 28, ../scss/partials/_body.scss */
.section-call-to-action.v1 {
  background: url(../images/call-to-action-bg1.jpg) center no-repeat;
  background-size: cover;
}
/* line 33, ../scss/partials/_body.scss */
.section-call-to-action .h1 {
  margin-bottom: 3rem;
}
/* line 37, ../scss/partials/_body.scss */
.section-call-to-action p {
  margin-bottom: 1.5rem;
}

/* line 6, ../scss/mixins/_overlay.scss */
.section-call-to-action::before {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 19, ../scss/mixins/_overlay.scss */
.section-call-to-action::after {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: url(../images/pattern-1.png) repeat;
}

/* line 47, ../scss/partials/_body.scss */
.section-call-to-action .container {
  text-align: center;
  margin: auto;
}
@media only screen and (min-width: 768px) {
  /* line 47, ../scss/partials/_body.scss */
  .section-call-to-action .container {
    max-width: 720px;
  }
}

/* line 56, ../scss/partials/_body.scss */
.section-call-to-action .btn-outline-primary {
  padding: .75rem 3rem;
}

/* VIDEO */
/* line 61, ../scss/partials/_body.scss */
.section-video .video {
  margin-bottom: 2rem;
}
@media only screen and (min-width: 992px) {
  /* line 61, ../scss/partials/_body.scss */
  .section-video .video {
    margin-bottom: 0;
  }
}

/* PROJECTS*/
/* line 75, ../scss/partials/_body.scss */
.section-projects .card-block {
  background: whitesmoke;
}

/* line 79, ../scss/partials/_body.scss */
.section-projects .card-text {
  position: relative;
  max-height: 9rem;
  overflow: hidden;
}
/* line 8, ../scss/mixins/_multiline-truncation.scss */
.section-projects .card-text::before {
  position: absolute;
  right: 0;
  top: 7.5rem;
  width: 8rem;
  height: 1.5rem;
  content: "";
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #f5f5f5 75%, #f5f5f5);
  pointer-events: none;
}

/* line 84, ../scss/partials/_body.scss */
.section-projects .card-content .btn {
  margin-top: auto;
  align-self: flex-end;
}

/* line 1, ../scss/partials/_footer.scss */
.footer {
  color: #999999;
  background: #ebebeb;
  padding: 2rem 0;
  text-align: center;
}

/* line 8, ../scss/partials/_footer.scss */
.footer .logo {
  width: 150px;
  margin-bottom: 1rem;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* line 15, ../scss/partials/_footer.scss */
.footer p {
  margin-bottom: 0;
}

/* line 19, ../scss/partials/_footer.scss */
.footer span {
  display: block;
}
@media only screen and (min-width: 544px) {
  /* line 19, ../scss/partials/_footer.scss */
  .footer span {
    display: inline;
  }
}

/* line 1, ../scss/partials/_company.scss */
.postscript {
  display: flex;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 992px) {
  /* line 1, ../scss/partials/_company.scss */
  .postscript {
    margin-bottom: 0;
  }
}

/* line 10, ../scss/partials/_company.scss */
.postscript img {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  flex-shrink: 0;
}

/* line 17, ../scss/partials/_company.scss */
.postscript .fa-quote-left {
  color: #ebebeb;
  flex-shrink: 0;
}

/* line 1, ../scss/partials/_contact.scss */
.contact-text {
  margin-bottom: 3rem;
}

/* line 5, ../scss/partials/_contact.scss */
.contact-form {
  margin-bottom: 3rem;
}
@media only screen and (min-width: 992px) {
  /* line 5, ../scss/partials/_contact.scss */
  .contact-form {
    margin-bottom: 0;
  }
}

/* line 13, ../scss/partials/_contact.scss */
.contact-details {
  position: relative;
  padding: 2rem;
  background: url(../images/img-5.png) center no-repeat;
  background-size: cover;
}

/* line 20, ../scss/partials/_contact.scss */
.contact-details .overlay-content {
  font-weight: 600;
}

/*
  Player Skin Designer for Video.js
  http://videojs.com

  To customize the player skin edit 
  the CSS below. Click "details" 
  below to add comments or questions.
  This file uses some SCSS. Learn more  
  at http://sass-lang.com/guide)

  This designer can be linked to at:
  http://codepen.io/heff/pen/EarCt/left/?editors=010
*/
/* line 27, ../scss/vendor/_video-js-skin.scss */
.video-js {
  /* The base font size controls the size of everything, not just text.
     All dimensions use em-based sizes so that the scale along with the font size.
     Try increasing it to 15px and see what happens. */
  font-size: 1rem;
  /* The main font color changes the ICON COLORS as well as the text */
  color: white;
}

/* line 37, ../scss/vendor/_video-js-skin.scss */
.vjs-default-skin .vjs-big-play-button {
  font-size: 2.5rem;
  line-height: 4.5rem;
  height: 4.5rem;
  width: 4.5rem;
  border: none;
  border-radius: 50%;
  /* Align center */
  left: 50%;
  top: 50%;
  margin-left: -2.25rem;
  margin-top: -2.25rem;
}
/* line 57, ../scss/vendor/_video-js-skin.scss */
.vjs-default-skin .vjs-big-play-button::before {
  font-family: FontAwesome;
  content: "\f04b";
  padding-left: 0.5rem;
}

/* The default color of control backgrounds is mostly black but with a little
   bit of blue so it can still be seen on all-black video frames, which are common. */
/* line 66, ../scss/vendor/_video-js-skin.scss */
.video-js .vjs-control-bar,
.video-js .vjs-big-play-button,
.video-js .vjs-menu-button .vjs-menu-content {
  /* IE8 - has no alpha support */
  background-color: #29313d;
  /* Opacity: 1.0 = 100%, 0.0 = 0% */
  background-color: rgba(41, 49, 61, 0.8);
}

/* Slider - used for Volume bar and Progress bar */
/* line 80, ../scss/vendor/_video-js-skin.scss */
.video-js .vjs-slider {
  background-color: #70829f;
  background-color: rgba(112, 130, 159, 0.8);
}

/* The slider bar color is used for the progress bar and the volume bar
   (the first two can be removed after a fix that's coming) */
/* line 87, ../scss/vendor/_video-js-skin.scss */
.video-js .vjs-volume-level,
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar {
  background: white;
}

/* The main progress bar also has a bar that shows how much has been loaded. */
/* line 94, ../scss/vendor/_video-js-skin.scss */
.video-js .vjs-load-progress {
  /* For IE8 we'll lighten the color */
  background: ligthen(#70829f, 25%);
  /* Otherwise we'll rely on stacked opacities */
  background: rgba(112, 130, 159, 0.5);
}

/* The load progress bar also has internal divs that represent
   smaller disconnected loaded time ranges */
/* line 103, ../scss/vendor/_video-js-skin.scss */
.video-js .vjs-load-progress div {
  /* For IE8 we'll lighten the color */
  background: ligthen(#70829f, 50%);
  /* Otherwise we'll rely on stacked opacities */
  background: rgba(112, 130, 159, 0.75);
}
