@charset "utf-8";

/* BOOTSTRAP */
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.m-b-20 {
    margin-bottom: 20px;
}

/* BASIC LAYOUT ETC. */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
html {
	width: 100%;
	height: 100%;
}
body {
	min-width: 320px;
	padding-top: 51px;
	font-size: 14px;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	color: #333;
	line-height: 1.5;
}
h1 {
	font-size: 24px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 20px;
}
h2 {
	font-size: 18px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 20px;
}
h3 {
	font-size: 16px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 20px;
}
.page-header {
	position: relative;
	text-align: center;
	margin: 0 0 30px;
	padding: 0 0 20px;
    border-bottom: none;
}
.page-header:before {
	position: absolute;
	width: 10px;
	height: 10px;
	bottom: -5px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background: #ccc;
	content: '';
	transform: rotate(45deg);
}
.page-header:after {
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background: #ccc;
	content: '';
}
p {
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 10px;
}
.col-xs-vert-offset-20 {
	margin-bottom: 20px;
}
.col-xs-vert-offset-40 {
	margin-bottom: 40px;
}
.sr-only {
    position: absolute !important;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/* NAVBAR */
.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 0;
	border: none;
}
.navbar-default {
	background-color: #fff;
    border-color: #eee;
}
.navbar-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
	border-width: 0 0 1px;
	border-style: solid;
}
.navbar-default .navbar-header {
    height: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.navbar-default .navbar-brand {
    float: none;
    height: auto;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
    order: 1;
}
.navbar-default .navbar-brand img {
    height: 40px;
}
.navbar-default .navbar-toggle {
	position: relative;
    float: none;
    margin: 0;
    padding: 9px 9px;
    border: none;
    margin-left: auto;
    order: 2;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #eee;
}
.navbar-default .navbar-collapse {
	margin: 0;
	padding: 0;
	border-top: 1px solid #eee;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.navbar-default .navbar-nav {
	width: 100%;
    margin: 10px 0;
}
.navbar-default .navbar-nav > li > a {	
	text-transform: uppercase;
	color: #333;
	padding: 10px 0;
}
.navbar-default .navbar-nav > li.active > a  {
	background: none;
	color: #0892d2;
	font-weight: 700;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus {
	background: none;
	color: #22b3f7;
}

/* MAIN */
main {
	background: #fff;
}

/* FOOTER */
footer {
	background: #eee;
	color: #888;
	padding: 40px 0;
	text-align: center;
}
footer .logo {
	width: 150px;
}	
footer p {
	margin-bottom: 0;
}

/* CAROUSEL */
.carousel {
	position: relative;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-inner .item img {
	max-width: 200%;
	width: 200%;
	background: attr();
	background-size: cover;
}
.carousel-caption {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	padding: 40px 40px;
	color: #fff;
	text-align: center;
	text-shadow: none;
}
.carousel-control {
	position: absolute;
    top: 0;
    bottom: 0;
	width: 40px;
	color: #fff;
    font-size: 20px;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    opacity: .5;
}
.carousel-control.left {
    right: auto;
    left: 0;
    background: none;
}
.carousel-control.right {
    right: 0;
    left: auto;
    background: none;
}
.carousel-control:focus, .carousel-control:hover {
    color: #fff;
    text-decoration: none;
    outline: none;
    opacity: .9;
}
.fa {
	display: flex;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	width: 100%;
    height: 100%;
    z-index: 5;
	justify-content: center;
	align-items: center;
}
.carousel-indicators {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    margin: 0 0 10px;
    padding: 0;
    text-align: center;
    list-style: none;
}
.carousel-indicators li {
    width: 9px;
    height: 9px;
}
.carousel-indicators .active {
    width: 11px;
    height: 11px;
}

/* SECTIONS */
section {
	padding: 40px 0px;
	color: #555;
	background: #fff;
}
section:nth-child(even) {
    background: #eee;
}

.contact-text {
	margin-bottom: 40px;
}
.contact-details {
	background: #eee;
    text-align: center;
	padding: 20px;
}
.contact-details p {
	 font-weight: 700;
}

.inner-container {
	background: #fff;
	margin: 40px 0 0;
    padding: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
}
.inner-container .col-sm-6 {
    padding: 40px 15px 30px;
}
.inner-container .col-sm-6:last-of-type {
    padding: 0;
}
.inner-container img {
    object-fit: cover;
    width: 100%;
    height: 280px;
}
.img-container {
	width: 60px;
	border-radius: 50%;
	float: left;
}
.signature-container {
	float: right;
}
.signature-container blockquote {
	font-size: 12px;
    color: #888;
    font-style: italic;
    font-weight: 400;
}
.signature-container blockquote:before {
   font-family: FontAwesome;
   content: "\f10d";
   color: #eee;
}
.signature-container blockquote:after {
   font-family: FontAwesome;
   content: "\f10e";
   color: #eee;
}
.signature-container .print-name {
	font-size: 13px;
    color: #333;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
}

/* PROJECT BOX */
.project {
	width:100%;
	height:auto;
	position:relative;
	background:#f8f8f8;
	margin-bottom:30px;
}
.project:last-child {
	margin-bottom:0;
}
.project .image {
	position:absolute;
	top:0;
	left:0;
	width:40%;
	height:100%;
	background:url(../images/img4.jpg) center no-repeat;
	background-size:cover;
}
.project .project-info {
	position:relative;
	width:60%;
	box-sizing:border-box;
	margin-left:40%;
	padding:30px 20px;
}
.project .project-info h3 {
	margin-top:0;
	font-size:18px;
	font-weight:700;
	text-align:left;
}
.project .project-info p {
	font-size:14px;
	margin-bottom:10px;
	text-align:left;
}

/* FORM */
.form-custom {
	width: 100%;
}
.form-custom .form-control {
	border: 1px solid #aaa;
	border-radius: 3px;
	color: #777;
	font-size: 14px;
	box-shadow: none;
	padding: 10px 15px;
	height: auto;
}
.form-custom textarea {
	min-height: 150px;
	max-height: 450px;
	resize: vertical;
}
.form-custom .form-group {
    margin-bottom: 15px;
}
.form-custom .form-group:last-of-type {
    margin-bottom: 0;
}

/* JUMBOTRONS */
.jumbotron {
	position: relative;
	padding: 40px 0;
	margin-bottom: 0;
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}
.jumbotron.v1 {
	background: url(../images/jumbo-bg1.jpg) center no-repeat;
	background-size: cover;
}
.jumbotron.v2 {
	background: url(../images/jumbo-bg2.jpg) center no-repeat;
	background-size: cover;
}
.jumbotron.v3 {
	background: url(../images/jumbo-bg3.jpg) center no-repeat;
	background-size: cover;
}
.jumbotron .overlay {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.65;
}
.jumbotron .container {
	position: relative;
	z-index: 2;
}

/* CALL TO ACTION */
.call-to-action {
	position: relative;
	color: #fff;
	text-align: center;
}
.call-to-action .overlay {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.8;
}
.call-to-action .overlay-pattern {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../images/pattern_1.png) repeat;
}
.call-to-action .container {
	position: relative;
	z-index: 3;
}
.call-to-action h1:after,
.call-to-action h1:before {
	display: none;
}
.call-to-action.v1 {
	background: url(../images/call-to-action-bg1.jpg) center no-repeat;
	background-size: cover;
}

/* BUTTONS */
.btn-primary {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	background: #0277BD;
	margin: 0;
	padding: 10px 25px;
	border: none;
	border-radius: 4px;
	box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus {
	color: #fff;
	background: #039BE5;
	border: none;
	box-shadow: none;
	outline: none;
}
.btn-default {
	color: #0277BD;
	font-size: 14px;
	font-weight: 700;
	background: none;
	margin: 0;
	padding: 10px 25px;
	border: 2px solid #0277BD;
	border-radius: 4px;
	box-shadow: none;
}
.btn-default:hover,
.btn-default:focus {
	color: #fff;
	background: #039BE5;
	border: 2px solid #039BE5;
	box-shadow: none;
	outline: none;
}

/* BACK TO TOP */
.scroll-top {
	position: fixed;
	z-index: 99;
	right: 30px;
	bottom: 30px;
	width: 40px;
	height: 40px;
	font-size: 24px;
	margin: 0;
	padding: 0;
}
.scroll-top .fa-angle-up:before {
    content: "\f106";
    margin-top: -4px;
}

/* RESPONSIVE */
@media only screen and (min-width: 768px) {
h1 {
	font-size: 36px;
	margin-bottom: 20px;
}
h2 {
	font-size: 24px;
	margin-bottom: 20px;
}
h3 {
	font-size: 18px;
	margin-bottom: 20px;
}
.page-header {
	margin-bottom: 30px;
	padding-bottom: 30px;
}
.page-header:after {
	width: 550px;
}
p {
	font-size: 15px;
	line-height: 25px;
	margin-bottom: 20px;
}
footer p {
	display: inline;
}
section {
	padding: 80px 0px;
}
.col-xs-vert-offset-20, .col-xs-vert-offset-40 {
	margin-bottom: 0;
}
.jumbotron {
	padding: 80px 0;
	font-size: 30px;
}
.call-to-action h1 {
	font-size: 48px;
}
.navbar>.container .navbar-brand {
    margin: 0;
}
.navbar-default .navbar-collapse {
	padding-right: 0;
	padding-left: 0;
	border-top: none;
}
.navbar-default .navbar-nav {
    margin: 0;
}
.navbar-default .navbar-nav > li > a {
    padding: 10px 15px;
}
.carousel-caption {
	display:flex;
	flex-direction:column;
	justify-content:center;
	text-align:left;
}
.carousel-caption h1 {
	font-size: 48px;
}
.carousel-control {
	width: 80px;
}
.carousel-control .fa {
	font-size: 3em;
}
.contact-text {
	margin-bottom: 40px;
}
.contact-form {
	margin-bottom: 0;
}
.contact-details {
	text-align: left;
}
} /* @media only screen and (min-width: 768px) */

@media only screen and (min-width: 992px) {
.form-custom {
	width: 70%;
}
} /* @media only screen and (min-width: 992px) */

@media only screen and (max-width: 319px) {
.navbar-default .navbar-brand {
	display: none;
}
} /* @media only screen and (max-width: 319px) */
