@charset "utf-8";

/* VIDEO PLAYER */
.video-player {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 0;
    padding-top: 56.25%;
    background: #333;
}

.video-js .vjs-big-play-button {
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: none;
    border-radius: 50%;
    background: rgba(0,0,0,0.4);
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
}
.video-js:hover .vjs-big-play-button, .video-js .vjs-big-play-button:focus {
    background: #0892d2;
    -webkit-transition: 0s all;
    -moz-transition: 0s all;
    -o-transition: 0s all;
    transition: 0s all;
}
.video-js .vjs-big-play-button:before {
    font-size: 36px
    color: #fff;
}
.video-js .vjs-control-bar {
    background: rgba(0,0,0,0.3);
}