// Single side border-radius

@mixin border-radius($radius: $border-radius) {
  border-radius: $radius;
}

@mixin border-top-radius($radius: $border-radius) {
  @if $radius != 0 {
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@mixin border-right-radius($radius: $border-radius) {
  @if $radius != 0 {
    border-top-right-radius: $radius;
    border-top-left-radius: 0;
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: 0;
  }
}

@mixin border-bottom-radius($radius: $border-radius) {
  @if $radius != 0 {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
  }
}

@mixin border-left-radius($radius: $border-radius) {
  @if $radius != 0 {
    border-top-right-radius: 0;
    border-top-left-radius: $radius;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: $radius;
  }
}
