@mixin card-horizontal($img-size: $card-horizontal-img-size, $min-height: $card-block-min-height, $border-radius: $card-border-radius-inner) {
  flex-direction: row;
  max-width: none;

  & .card-block {
    flex: 0 0 calc(100% - #{$img-size});
    min-height: $min-height;
  }

  & .card-img {
    flex: 0 0 $card-horizontal-img-size;
    @include aspect-ratio(1, 0); // Remove padding-top from aspect-ratio ::before element
  }

  & .card-img {
    @include border-left-radius($border-radius);
  }

  & .card-img-last {
    @include border-right-radius($border-radius);
  }
}