@mixin multiline-truncation($font-size, $line-height, $lines-to-show, $background-color) {
  $max-height: $font-size*$line-height*$lines-to-show;

  position: relative;
  max-height: $max-height;
  overflow: hidden;

  &::before {
    position: absolute;
    right: 0;
    top: $max-height - $line-height;
    width: 8rem;
    height: $max-height / $lines-to-show;
    content: "";
    background: linear-gradient(to right, transparent, $background-color 75%, $background-color);
    pointer-events: none;
  }
}