$overlay-opacity:         0.6;
$overlay-pattern-img:     url(../images/pattern-1.png);
$overlay-color:           #fff;

@mixin overlay($background: rgba(0, 0, 0, $overlay-opacity)) {
  &::before {
    position: absolute;
    z-index: $zindex-overlay;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: $background;
  }
}

@mixin overlay-pattern($pattern-img: $overlay-pattern-img) {
  &::after {
    position: absolute;
    z-index: $zindex-overlay-pattern;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: $pattern-img repeat;
  }
}

@mixin overlay-content($color: $overlay-color) {
  position: relative;
  z-index: $zindex-overlay-content;
  color: $color;
}