<!doctype html>
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="{{=T.accepted_language or 'en'}}">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{[=T('Page Not Found')}}</title>

    <link rel="stylesheet" href="{{=URL('static','css/404.css')}}"/>
</head>
<body>
    <h1>{[=T('Page Not Found')}}</h1>
    <p>{[=T('Sorry, but the page you were trying to view does not exist.')}}</p>

	<p>{{=company.name}} &#169 {{=request.now.year}}</p>
	<p class="hidden-xs"> - </p>
	<p>{{=T('All Rights Reserved')}}</p>
	<p class="hidden-xs"> - </p>
	<p>{{=company.email}}</p>
</body>
</html>