@import "compass";
@import "mixins/all";
@import "utilities/all";

$spacer:                  1rem;
$spacer-x:                $spacer;
$spacer-y:                $spacer;

$border-radius:          0.25rem;
$border-radius-lg:       0.3rem;
$border-radius-sm:       0.2rem;