$body-min-width:      320px;
$body-margin-top:     $navbar-height;

body {
  min-width: $body-min-width;
  margin-top: $body-margin-top;
}

.wrapper {
  max-width: 540px;
  margin: auto;
}

/* SECTIONS */
.section {
  background: $white;
  padding: 4rem 0;

  &:nth-of-type(even) {
    background: $gray-lighter;
  }
}

/* CALL TO ACTION */
.section-call-to-action {
  position: relative;

  &.v1 {
    background: url(../images/call-to-action-bg1.jpg) center no-repeat;
    background-size: cover;
  }

  & .h1 {
    margin-bottom: 3rem;
  }

  & p {
    margin-bottom: 1.5rem;
  }
}

.section-call-to-action {
  @include overlay($gray-darker-a);
  @include overlay-pattern();
}

.section-call-to-action .container {
  text-align: center;
  margin: auto;

  @include media-breakpoint-up(md) {
    max-width: 720px;
  }
}

.section-call-to-action .btn-outline-primary {
  padding: .75rem 3rem;
}

/* VIDEO */
.section-video .video {
  margin-bottom: 2rem;

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }
}

/* PROJECTS*/
$card-text-font-size:         1rem;
$card-text-line-height:       1.5;
$card-text-lines-to-show:     6;
$card-block-bg:               $gray-lightest;

.section-projects .card-block {
  background: $card-block-bg;
}

.section-projects .card-text {
  @include multiline-truncation($card-text-font-size, $card-text-line-height, $card-text-lines-to-show, $card-block-bg);
}

.section-projects .card-content {
  .btn {
    margin-top: auto;
    align-self: flex-end;
  }
}