// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

.btn {
  border-width: 2px;
}

/* SCROLL TO TOP */
.scroll-top {
  position: fixed;
  z-index: 990;
  right: 1.5rem;
  bottom: 1.5rem;
  width: calc(3rem + 4px);
  height: calc(3rem + 4px);
  font-size: 2rem;
  padding: 0;
  display: flex;
  background: $gray-light-a;
  border: 0;
  border-radius: 50%;
}

.scroll-top .fa {
  padding-bottom: 0.25rem;
  margin: auto;
}