/* CAROUSEL */

$carousel-text-shadow:                        none;

$carousel-width-ratio:                        16;
$carousel-height-ratio:                       9;
$carousel-width-ratio-xl-up:                  2.35;
$carousel-height-ratio-xl-up:                 1;

$carousel-control-width:                      15%;
$carousel-control-color:                      $white;
$carousel-control-hover-color:                $carousel-control-color;
$carousel-control-opacity:                    0.5;
$carousel-control-hover-opacity:              1;
$carousel-control-gradient-opacity:           0.2;
$carousel-control-font-size:                  3rem;
$carousel-control-text-shadow:                $carousel-text-shadow;

$carousel-indicators-width:                   100%;
$carousel-indicators-bottom:                  1.5rem;
$carousel-indicator-size:                     0.75rem;
$carousel-indicator-active-size:              0.75rem;
$carousel-indicator-bg:                       transparent;
$carousel-indicator-active-bg:                $white;
$carousel-indicator-margin:                   ($carousel-indicator-active-size - $carousel-indicator-size) / 2;
$carousel-indicator-active-margin:            0;
$carousel-indicator-opacity:                  0.5;
$carousel-indicator-active-opacity:           1;
$carousel-indicator-border-width:             1px;
$carousel-indicator-border-color:             $white;
$carousel-indicator-border:                   $carousel-indicator-border-width solid $carousel-indicator-border-color;

$carousel-caption-width:                      70%;
$carousel-caption-sm-up-width:                60%;
$carousel-caption-color:                      $white;
$carousel-caption-bg:                         $gray-darker;
$carousel-caption-text-shadow:                4px 4px 20px rgba(0, 0, 0, 0.5);

$carousel-progress-bar-height:                5px;
$carousel-progress-bar-color:                 rgba(0,0,0,0.125);

$carousel-data-interval:                      5000ms;

.carousel-body {
  @include aspect-ratio($carousel-width-ratio, $carousel-height-ratio);

  @include media-breakpoint-up(xl) {
    @include aspect-ratio($carousel-width-ratio-xl-up, $carousel-height-ratio-xl-up);
  }
}

.carousel-img {
//  @include aspect-ratio($carousel-width-ratio, $carousel-height-ratio);
}

.carousel-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include overlay($gray-a);
  background: url(../images/carousel-bg2.jpg) center no-repeat;
  background-size: cover;
}

.carousel-inner {
    position: relative;
    z-index: $zindex-overlay-content;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
}

.carousel-inner>.carousel-item {
  width: 100%;
  height: 100%;
  //display: flex;
}

.carousel-control {
  position: absolute;
  z-index: $zindex-carousel-control;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: auto;
  width: $carousel-control-width;
  height: 100%;
  color: $carousel-control-color;
  opacity: $carousel-control-opacity;
  text-shadow: $carousel-control-text-shadow;

  &:focus,
  &:hover {
    color: $carousel-control-hover-color;
    opacity: $carousel-control-hover-opacity;
    text-decoration: none;
    outline: none;
  }

  // Set gradients for backgrounds
  &.left {
    @include gradient-x($start-color: rgba(0,0,0,$carousel-control-gradient-opacity), $end-color: rgba(0,0,0,.0001));
  }
  &.right {
    flex-direction: row-reverse;
    @include gradient-x($start-color: rgba(0,0,0,.0001), $end-color: rgba(0,0,0,$carousel-control-gradient-opacity));
  }

  // Toggles
  & .icon-prev,
  & .icon-next {
    position: static;
    width: $carousel-control-font-size;
    height: $carousel-control-font-size;
    font-family: FontAwesome;
    font-size: $carousel-control-font-size;
    line-height: $carousel-control-font-size;;
    margin: 0;
  }
  .icon-prev {
    &::before {
      content: "\f104";
    }
  }
  .icon-next {
    &::before {
      content: "\f105";
    }
  }
}

// Optional indicator pips
//
// Add an unordered list with the following class and add a list item for each
// slide your carousel holds.

.carousel-indicators {
  position: absolute;
  z-index: $zindex-carousel-control;
  bottom: $carousel-indicators-bottom;
  left: 0;
  width: $carousel-indicators-width;
  margin: 0;

  li {
    display: inline-block;
    width: $carousel-indicator-size;
    height: $carousel-indicator-size;
    margin: $carousel-indicator-margin;
    border: $carousel-indicator-border;
    border-radius: 50%;
    background-color: $carousel-indicator-bg;
    opacity:          $carousel-indicator-opacity;

    &:hover, &.active {
      width: $carousel-indicator-active-size;
      height: $carousel-indicator-active-size;
      margin: $carousel-indicator-active-margin;
      background-color: $carousel-indicator-active-bg;
      opacity:          $carousel-indicator-active-opacity;
    }
  }
}

// Optional captions
//
// Hidden by default for smaller viewports.


$carousel-caption-sm-up-width:                60%;
$carousel-caption-color:                      $white;
$carousel-caption-bg:                         $gray-darker;
$carousel-caption-text-shadow:                4px 4px 20px rgba(0, 0, 0, 0.5);
//$carousel-caption-font-size:                  1rem;
//$carousel-caption-line-height:                1.5;
//$carousel-caption-lines-to-show:              4;

.carousel-caption {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 3rem 0;
  color: $carousel-caption-color;
  background-color: $carousel-caption-bg;
  text-align: center;
  text-shadow: $carousel-caption-text-shadow;
  
  &::before {
    content: '';
    position: absolute;
    top: -14px + 1px;
    left: 50%;
    margin-left: -14px;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid $carousel-caption-bg;
  }
}

// Timer "progress bar"

.carousel-progress-bar {
  position: absolute;
  bottom: 0;
  z-index: $zindex-carousel-progress-bar;
  width: 0%;
  height: $carousel-progress-bar-height;
  background-color: $carousel-progress-bar-color;

  &.animate {
    transition: width 4.25s linear;
  }
}


@include media-breakpoint-up(md) {
  .carousel-inner {
    position: absolute;
  }

  .carousel-caption {
    position: absolute;
    right: auto;
    bottom: 50%;
    left: $carousel-control-width;
    transform: translate(0, 50%);
    width: 100% - 2*($carousel-control-width);
    max-width: 720px;
    background-color: transparent;
    text-align: left;

    &::before {
      border: none;
    }
  }
}