// Colors
//
// Grayscale and brand colors for use across Bootstrap.
$hue_primary:         200;
$hue_success:         120;
$hue_info:            180;
$hue_warning:         40;
$hue_danger:          0;

$saturation:          50%;
$lightness:           30%;

$white:               hsla(0, 0%, 100%, 1);   // #ffffff
$black:               hsla(0, 0%, 0%, 1);     // #000000

$gray-darkest:        darken($white, 95%);    // #0d0d0d
$gray-darker:         darken($white, 80%);    // #333333
$gray-dark:           darken($white, 67%);    // #545454
$gray:                darken($white, 40%);    // #999999
$gray-light:          darken($white, 20%);    // #cccccc
$gray-lighter:        darken($white, 8%);     // #ebebeb
$gray-lightest:       darken($white, 4%);     // #f5f5f5

$gray-darkest-a:      hsla(0, 0, 0, 0.95);    // #0d0d0d
$gray-darker-a:       hsla(0, 0, 0, 0.8);     // #333333
$gray-dark-a:         hsla(0, 0, 0, 0.67);    // #545454
$gray-a:              hsla(0, 0, 0, 0.4);     // #999999
$gray-light-a:        hsla(0, 0, 0, 0.2);     // #cccccc
$gray-lighter-a:      hsla(0, 0, 0, 0.08);    // #ebebeb
$gray-lightest-a:     hsla(0, 0, 0, 0.04);    // #f5f5f5

$brand-primary:       hsla($hue_primary,  $saturation, $lightness, 1);
$brand-success:       hsla($hue_success,  $saturation, $lightness, 1);
$brand-info:          hsla($hue_info,     $saturation, $lightness, 1);
$brand-warning:       hsla($hue_warning,  $saturation, $lightness, 1);
$brand-danger:        hsla($hue_danger,   $saturation, $lightness, 1);
$brand-secondary:     $gray-dark;
$brand-inverse:       $gray-darker;
