.postscript {
  display: flex;
  margin-bottom: 2rem;

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }
}

.postscript img {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  flex-shrink: 0;
}

.postscript .fa-quote-left {
  color: $gray-lighter;
  flex-shrink: 0;
}