.contact-text {
  margin-bottom: 3rem;
}

.contact-form {
  margin-bottom: 3rem;

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }
}

.contact-details {
  position: relative;
  padding: 2rem;
  background: url(../images/img-5.png) center no-repeat;
  background-size: cover;
}

.contact-details .overlay-content {
  font-weight: $semi-bold;
}