.footer {
  color: $gray;
  background: $gray-lighter;
  padding: 2rem 0;
  text-align: center;
}

.footer .logo {
  width: 150px;
  margin-bottom: 1rem;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.footer p {
  margin-bottom: 0;
}

.footer span {
  display: block;

  @include media-breakpoint-up(sm) {
    display: inline;
  }
}