/* HEADERS */
.masthead {
  position: relative;
  text-align: center;
  padding: 4rem 0;
  margin-bottom: 0;
  border-radius: 0;

  &.v1 {
    background: url(../images/jumbo-bg1.jpg) center no-repeat;
    background-size: cover;
  }

  &.v2 {
    background: url(../images/jumbo-bg2.jpg) center no-repeat;
    background-size: cover;
  }

  &.v3 {
    background: url(../images/jumbo-bg3.jpg) center no-repeat;
    background-size: cover;
  }
}

.masthead h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

.page-header {
  position: relative;
  text-align: center;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  
  &::before {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    width: 10px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    background: $gray-light;
    content: '';
    transform: rotate(45deg);
  }

  &::after {
    position: absolute;
    width: 90%;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: $gray-light;
    content: '';
    
    @include media-breakpoint-up(sm) {
      width: 80%;
    }

    @include media-breakpoint-up(md) {
      width: 60%;
    }
  }
}