// Navbar

$navbar-height:                     51px;

$navbar-border-radius:              $border-radius;
$navbar-padding-x:                  $spacer;
$navbar-padding-y:                  ($spacer / 2);
$navbar-brand-padding-y:            .25rem;

$navbar-light-bg-color:             $white;
$navbar-light-color:                $gray-darker;
$navbar-light-hover-color:          rgba(0,0,0,.6);
$navbar-light-active-color:         rgba(0,0,0,.8);
$navbar-light-disabled-color:       $gray;

$navbar-dark-bg-color:              $gray-dark;
$navbar-dark-color:                 rgba(255,255,255,.5);
$navbar-dark-hover-color:           rgba(255,255,255,.75);
$navbar-dark-active-color:          $white;
$navbar-dark-disabled-color:        $gray;

.navbar {
  height: $navbar-height;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-fixed-top {
  border-width: 0 0 1px;
  border-color: $gray-light;
}

.navbar-light {
  background-color: $navbar-light-bg-color;
}

.navbar-dark {
  background-color: $navbar-light-bg-color;
}

.navbar-brand img {
  height: 40px;
}

// Navigation
//
// Custom navbar navigation built on the base `.nav` styles.

.navbar-nav {
  height: 100%;
  align-self: flex-end;

  .nav-item {
    float: left;
  }

  .nav-link {
    display: block;
    text-transform: uppercase;
    font-size: 0.875rem;

    + .nav-link {
      margin-left: 1rem;
    }
  }

  .nav-item + .nav-item {
    margin-left: 1rem;
  }
}

// Dark links against a light background
.navbar-light {
  .navbar-brand {
    color: $navbar-light-active-color;

  }

  .navbar-nav {
    .nav-link {
      color: $navbar-light-color;

    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
    }
  }

  .navbar-divider {
    background-color: rgba(0,0,0,.075);
  }
}

// White links against a dark background
.navbar-dark {
  .navbar-brand {
    color: $navbar-dark-active-color;

  }

  .navbar-nav {
    .nav-link {
      color: $navbar-dark-color;

    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
    }
  }

  .navbar-divider {
    background-color: rgba(255,255,255,.075);
  }
}