$light:             300;
$regular:           400;
$semi-bold:         600;
$bold:              700;
$extra-bold:        800;

$text-color:        $gray-darker;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root: 16px;

$font-size-base: 1rem;

$font-size-xs:   .75rem;
$font-size-sm:   .875rem;
$font-size-lg:   1.25rem;
$font-size-xl:   1.5rem;

html {
  color: $text-color;
  font-size: $font-size-xs;
  
  @include media-breakpoint-up(sm) {
    font-size: $font-size-sm;
  }

  @include media-breakpoint-up(md) {
    font-size: $font-size-base;
  }
}

p:last-child {
    margin-bottom: 0;
}

.blockquote {
  color: $gray;
  font-size: inherit;
  font-style: italic;
  font-weight: $regular;
  max-width: 22rem;
  border-left: none;
  margin-bottom: 0;
  padding: 0 0.5rem;
  margin-right: 1rem;

  & p::after {
    display: inline-block;
    font-family: FontAwesome;
    content: "\f10e";
    color: $gray-lighter;
    width: 1.5rem; // width = 1rem + padding-left
    margin-right: -1.5rem; // blockquote margin-right + padding-right
    text-align: right;
  }
}

.blockquote-footer {
  color: $text-color;
  font-size: inherit;
  font-style: italic;
  font-weight: $bold;
  text-transform: uppercase;

  &::before {
    content: none;
  }
}