// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-overlay:                10;
$zindex-overlay-pattern:        11;
$zindex-overlay-content:        12;

$zindex-carousel-control:       15;
$zindex-carousel-progress-bar:  20;

$zindex-dropdown-backdrop:      990;
$zindex-navbar:                 1000;
$zindex-dropdown:               1000;
$zindex-popover:                1060;
$zindex-tooltip:                1070;
$zindex-navbar-fixed:           1030;
$zindex-navbar-sticky:          1030;
$zindex-modal-bg:               1040;
$zindex-modal:                  1050;