.ratio-1, .ratio-1-1 {
  @include aspect-ratio(1, 1);
}

.ratio-2, .ratio-4-3 {
  @include aspect-ratio(4, 3); /* 4:3 */
}

.ratio-3, .ratio-3-2 {
  @include aspect-ratio(3, 2); /* 3:2 */
}

.ratio-4 {
  @include aspect-ratio(1.618, 1); /* The golden ratio */
}

.ratio-5, .ratio-16-9 {
  @include aspect-ratio(16, 9); /* 16:9 */
}

.ratio-6 {
  @include aspect-ratio(2.414, 1); /* The silver ratio */
}

.ratio-7 {
  @include aspect-ratio(2.760, 1); /* Ultra Panavision 70 */
}